<div class="container my-3">
  <%= simple_form_for(@alibi) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <fieldset <%= 'disabled' if @alibi.archived? %>>
      <div class="form-inputs">
        <%= f.input :title, required: true %>
        <%= f.input :content, as: :text, required: true %>
        <%= f.input :photo, as: :file %>
        <%= f.input :category, collection: Alibi::CATEGORIES, include_blank: false %>
        <%= f.input :date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :goal, collection: Alibi.goals.keys, include_blank: false %>
        <%= f.input :reservation_type, collection: Alibi.reservation_types.keys, include_blank: false %>
        <%= f.input :price, required: true, input_html: { value: @alibi.price || 1, min: 0 } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, 'Update Alibi', class: 'btn btn-primary' %>
      </div>
    </fieldset>
  <% end %>

  <% if @alibi.available? %>
    <%= button_to 'Archive', archive_alibi_path(@alibi), method: :patch, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure you want to archive this alibi?' } %>
  <% end %>
</div>
