<div class="banner" style="background-image: url(https://www.femmaufoyer.net/wp-content/uploads/2022/07/reunion-de-famille-0.jpg);">
  <div class="">
    <h1 class="text-center align-middle vertical-align">An App where you can find your perfect alibi!</h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: alibis_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "What kind of alibi do you need ?"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <h2 class="text-center my-5">An App for Alibis</h2>

  <div class="cartes row text-center d-flex justify-content-center flex-wrap">
    <div class="categories m-2 col">
      <%= image_tag("date.jpg", class: "card-img-top rounded-top-2", alt: "...") %>
      <div class="color rounded-bottom p-3 mb-2 bg-dark text-white h-auto">
        <h5 class="card-title">Alibi for dates</h5>
        <p class="card-text">If you want to fake date with someone...</p>
        <div>
          <a href="/alibis?query=date" class="btn btn-outline-secondary">Date</a>
        </div>
      </div>
    </div>
    <div class="categories m-2 col">
      <%= image_tag("cinema.jpg", class: "card-img-top rounded-top-2", alt: "...") %>
      <div class="color rounded-bottom p-3 mb-2 bg-dark text-white h-auto">
        <h5 class="card-title">Alibi for cinema</h5>
        <p class="card-text">If you want to go see a movie with someone...</p>
        <div>
          <a href="/alibis?query=cinema" class="btn btn-outline-secondary">Cinema</a>
        </div>
      </div>
    </div>
    <div class="categories m-2 col">
      <%= image_tag("journey.jpg", class: "card-img-top rounded-top-2", alt: "...") %>
      <div class="color rounded-bottom p-3 mb-2 bg-dark text-white h-auto">
        <h5 class="card-title">Alibi for journey</h5>
        <p class="card-text">If you want to go in a journey with someone...</p>
        <div>
          <a href="/alibis?query=journey" class="btn btn-outline-secondary">Journey</a>
        </div>
      </div>
    </div>
    <div class="categories m-2 col">
      <%= image_tag("speak.jpg", class: "card-img-top rounded-top-2", alt: "...") %>
      <div class="color rounded-bottom p-3 mb-2 bg-dark text-white h-auto">
        <h5 class="card-title">Alibi to talk to</h5>
        <p class="card-text">If you want to talk with someone in a café...</p>
        <div>
          <a href="/alibis?query=speak" class="btn btn-outline-secondary">Speak</a>
        </div>
      </div>
    </div>
    <div class="categories m-2 col">
      <%= image_tag("family.jpg", class: "card-img-top rounded-top-2", alt: "...") %>
      <div class="color rounded-bottom p-3 mb-2 bg-dark text-white h-auto">
        <h5 class="card-title">Alibi for family</h5>
        <p class="card-text">If you need a fake companion to present...</p>
        <div>
          <a href="/alibis?query=family" class="btn btn-outline-secondary">Family</a>
        </div>
      </div>
    </div>
  </div>
</div>
